<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"> PICT Interact </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            [routerLink]="['/public-page']"
            routerLinkActive="true"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            [routerLink]="['/restricted-page']"
            routerLinkActive="true"
            *ngIf="isLoggedIn()"
            >Mentorship Section</a
          >
        </li>
      </ul>
      <div class="d-flex">
        <button
          (click)="login()"
          *ngIf="!isLoggedIn()"
          class="btn btn-primary"
          type="button"
        >
          SIGN IN
        </button>
        <button
          (click)="logout()"
          *ngIf="isLoggedIn()"
          class="btn btn-danger"
          type="button"
        >
          SIGN OUT
        </button>
      </div>
    </div>
  </div>
</nav>
<!-- <a [routerLink]="['/public-page']" routerLinkActive="true">[PUBLIC-PAGE]</a>
<a
  [routerLink]="['/restricted-page']"
  routerLinkActive="true"
  *ngIf="isLoggedIn()"
  >[RESTRICTED-PAGE]</a
> -->
<!-- <div *ngIf="isLoggedIn()">
  <h3>You are logged in</h3>
</div>
<div *ngIf="!isLoggedIn()">
  <h3>You are NOT logged in</h3>
</div> -->
<router-outlet></router-outlet>
