<!-- <div class="col-md-8 col-lg-7 col-xl-6">
    <img src="https://media1.thehungryjpeg.com/thumbs2/ori_3804697_4onoz4l9nobdvtbzd1jp8orjfqw0s1vmx7azh6g5_monogram-pi-logo-design.jpg" class="img-fluid" alt="Phone image">
</div> -->
<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1>We offer modern solutions for growing your Academics</h1>
                <h2>Get in touch with your seniors with specific domain experts</h2>
                <!-- <div>
                    <div class="text-center text-lg-start">
                        <a (click)="login()" *ngIf="!isLoggedIn()" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center" type="button">
                            <span>SIGN IN</span>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div> -->
            </div>
            <div class="col-lg-6 hero-img">
                <img src="assets/img/hero-img.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section>
<!-- <div class="d-flex">
    <button (click)="login()" *ngIf="!isLoggedIn()" class="btn btn-primary" type="button">
      SIGN IN
    </button>
    <button (click)="logout()" *ngIf="isLoggedIn()" class="btn btn-danger" type="button">
      SIGN OUT
    </button>
</div> -->
<!-- End Hero -->